<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width" />


</head>
<body>
    <header>
      
            <div class="col-md-12 col-sm-12">
                <section id="login">
                     @Html.Partial("_LoginPartial")
                </section>
            </div>
        
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="">
            @RenderBody()
        </section>
    </div>
  <footer>
       
    </footer>
  
    
    @RenderSection("scripts", required: false)
</body>
</html>
