@model LoginApp.Models.LoginDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div class="panel">

        <div class="panel-body">

          





            <text>





                <div class="btn btn-warning btn-pressure">
                    @Html.ActionLink("Edit", "Edit")
                </div>

               

            </text>





        </div>
    </div>
</body>
</html>
